<mat-card *ngFor="let recipe of recipes$ | async" class="recipe-card">
  <mat-card-header>
    <mat-card-title>{{ recipe.name }}</mat-card-title>
    <mat-card-subtitle>{{ recipe.description }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="recipe.imageUrl" alt="{{ recipe.name }}" />

  <mat-card-content>
    <h3>Ingredients:</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        {{ ingredient.quantity }} {{ ingredient.unit }} of {{ ingredient.name }}
      </li>
    </ul>
  </mat-card-content>

  <mat-card-actions>
    <button mat-fab extended>View Recipe</button>
  </mat-card-actions>
</mat-card>
