mat-toolbar {
  background-color: #ffffff;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #009a3d;
}

.spacer {
  flex: 1 1 auto;
}

mat-icon {
  color: #009a3d;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 1.5rem;
  }
}
