mat-toolbar {
  background-color: #ffffff;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: bold;
  color: #009a3d;
}

.spacer {
  flex: 1 1 auto;
}

.desktop-menu {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}

.mobile-menu {
  display: none;
}

mat-icon {
  color: #009a3d;
}

@media (max-width: 768px) {
  .navbar-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
  }
}
